body { 
    width: 100vw;
}

.images { 
    width: 50%;
    border-radius: 10px;
    background-color: rgb(182, 177, 177);
    margin-top: 20px;
    box-sizing: border-box;
}

.container { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pokeId { 
    font-weight: bold;
    margin: 0;
}

.pokeName { 
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}

.main, .search {
    text-align: center;
}

