body {
  width: 100vw;
}

.detailCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsContainer {
  font-size: 20px;
  width: 50%;
  padding-left: 50px;
}

.detailsPokeId {
  color: brown;
  font-size: 30px;
  margin: 0;
}

.detailsPokeName {
  text-transform: capitalize;
  color: blue;
  font-weight: bold;
  font-size: 30px;
}

.description {
  color: rgb(213, 136, 136);
  font-style: italic;
}

p {
  line-height: 1.5;
  margin: 5px;
}

.backButton {
  font-size: 25px;
  color: rgb(69, 8, 126);
  background-color: lightseagreen;
  cursor: pointer;
  position: relative;
  top: -40px;
  left: 100px;
}

.table {
  display: flex;
}

.detailImages {
  width: 20%;
}

@media only screen and (max-width: 640px) {
  .backButton {
    left: 20px;
    font-size: 15px;
  }
  .detailCard {
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .detailsPokeName,
  .detailsPokeId {
    font-size: 20px;
  }
  .detailImages {
    width: 40%;
  }
  .detailsContainer {
    width: 100%;
  }
  .table {
    flex-direction: column;
    display: flex;
  }
  p {

  }
}
