.detailCard { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsContainer { 
    padding-right: 10px;
    font-size: 20px;
    flex-direction: row;
    width: 50%;
    padding-left: 50px;
}

.detailsPokeId { 
    color: brown;
    font-size: 30px;
    margin: 0;
}

.detailsPokeName {
    text-transform: capitalize;
    color: blue;
    font-weight: bold;
    font-size: 30px;
}

.description { 
    color: rgb(213, 136, 136);
    font-style: italic;
}
 
p { 
    line-height: 1.5;
    margin: 5px;
 }

 .backButton { 
    font-size: 25px; 
    color:rgb(69, 8, 126);
    background-color: lightseagreen;
    cursor: pointer;   
    position: relative;
    top: -40px;
    left: 100px;
 }

 .table { 
    display: flex;
    flex-direction: row;  
 }

 .detailImages {
    width: 20%;
    padding-right: 30px;
 }