.detailCard { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsContainer { 
    padding: 40px;
    margin-left: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsPokeId { 
    color: brown;
    font-size: 30px;
    margin: 0;
}

.detailsPokeName {
    text-transform: capitalize;
    color: blue;
    font-weight: bold;
    font-size: 30px;
}

.description { 
    color: rgb(213, 136, 136);
    font-style: italic;
    text-align: center;
    font-weight: bold;
}
 
p { 
    line-height: 1.6;
    margin: 5px;
 }

 .backButton { 
    font-size: 25px; 
    color:rgb(69, 8, 126);
    background-color: lightseagreen;
    cursor: pointer;   
    position: relative;
    top: -40px;
    left: 100px;
 }